h1 Listing projects

p = link_to 'New Project', new_project_path

table class='table'
  thead
    tr
      th Name
      th Description
      th
      th
      th
      th

  tbody
    - collection.each do |project|
      tr
        td = project.name
        td = project.description
        td = button_to 'Show', project, method: :get,
          class: "btn-success btn-mini"
        td = button_to 'Edit', edit_project_path(project), method: :get,
          class: "btn-warning btn-mini"
        td = button_to 'Destroy', project, method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn-danger btn-mini"
        td = button_to 'Tasks', project_tasks_path(project), method: :get,
          class: "btn-default btn-mini"

p = link_to 'Back to Home', root_path
