/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.container a {
  text-decoration: none;
}

.navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-toggle {
    display: none;
  }

.navbar-header {
  padding: 10px;
  float: left;
}

.main {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  border-radius: 6px;
}

.field_with_errors {
  @extend .control-group.error;
  display:inline;
  margin:0px;
  padding:0px;
}
